<%- include (`../templates/header`)-%>
<div class="topnav"></div>
<div class="main">
  <h1>Home Page</h1>
</div>
<div class="grid">
  <img src="<%= picture[0]%>" alt="" />
  <img src="<%= picture[1]%>" alt="" />
  <img src="<%= picture[2]%>" alt="" />
  <img src="<%= picture[3]%>" alt="" />
  <img src="<%= picture[4]%>" alt="" />
  <img src="<%= picture[5]%>" alt="" />
</div>
<%- include (`../templates/footer`)-%>
